In [1]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as pyt
from sklearn import linear_model
%matplotlib inline

In [2]:
# import data
df = pd.read_csv(r"homeprices.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [5]:
#Check NAN values
df.isna().sum()

area        0
bedrooms    1
age         0
price       0
dtype: int64

#### Replace Null values

In [13]:
bedrooms_median = df["bedrooms"].median()
bedrooms_median

4.0

In [14]:
df["bedrooms"].fillna(bedrooms_median, inplace =True)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [15]:
reg = linear_model.LinearRegression()
reg.fit(df[["area","bedrooms","age"]], df.price)

LinearRegression()

In [16]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [17]:
reg.intercept_

221323.00186540384

In [21]:
area = 3000
bedroom =3
age = 40
p = reg.predict([[area,bedroom,age]])
ans = p[0]
print(f"the price of a house whose area is {area} sft, has {bedroom} bedrooms and age is {age} years = {ans} USD ")

the price of a house whose area is 3000 sft, has 3 bedrooms and age is 40 years = 498408.251580307 USD

C:\Users\ABFA Computer\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(